html {
    background: url('../assets/images/landing-page-bg.jpg') no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin-top: 25px;
    margin-left: 25px;
    font-size: x-large;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.headingLine {
    display: none;
}

@media (min-width: 601px) {
    .headingLine {
        display: block;
    }
}
