.cvPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cvPageHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cvPageHeadingIcon {
    font-size: x-large;
}

.cvPageHeading {
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
