.landingPage {
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -25px;
    margin-left: -8px;
    background: url('../../assets/images/landing-page-bg.jpg') no-repeat center
        center;
    background-size: cover;
}

.headingLine {
    display: none;
    margin-top: 25px;
    margin-left: 25px;
    font-size: large;
    line-height: 45px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

@media (min-width: 601px) {
    .headingLine {
        display: block;
    }
}

.headingAccent {
    color: midnightblue;
}

.headingLink {
    font-weight: bold;
    text-decoration: none;
    color: midnightblue;
}

.headingLink:hover {
    color: darkslateblue;
}
